* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, p {
  padding-bottom: 20px;
  text-align: center;
}

#container {
  margin: 100px auto;
  max-width: 500px;
}

#answer-number, 
.guess-input,
#guess-result {
  display: flex;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.number-box {
  width: 10%;
}

#attempts {
  margin: 20px 100px;
}

#answer-number input, 
.number-box,
.guess-button {
  margin: 5px;
  padding: 5px;
}

#SBO {
  margin-left: 90px
}

.result {
   margin-left: 10px;
   padding:5px;
   height: 30px;
   width: 30px;
   border-radius: 100px;
   color: white;
}

#guess-result {
  align-items: center;
}

#strike-result {
  background: green;
}

#ball-result {
  background: orange;
}

#out-result {
  background: red;
}

.dissapear {
  display: none;
}

.disable {
  pointer-events: none;
}